body {
	background-color: #DEDEDE;
	margin: 0;
	font-family: 黑体, sans-serif;
	font-size: 17px;
	line-height: 1.5em;
	min-width: 700px;
}

#navbar {
	background-color: #333;
	position: relative;
	height: 70px;
}	

#navbar img {
	position: absolute;
	top: 15px;
	left: 25px;
}

#navbar ul {
	position: absolute;
	right: 30px;
	bottom: 5px;
}

#navbar li {
	margin-right: 10px;
	display: inline-block;
}

#navbar a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
}

#navbar a:hover {
	color: #aaa;
}

a {
	color: #3355D0;
}

a:hover {
	color: #66ADAC;
}

article, figure {
	border: 2px outset;
	background-color: #fff;
	margin: 20px;
	padding: 20px;
}

article h2 {
	font-size: 1.2em;
	color: #808080;
}

.info {
	font-size: 0.8em;
	color: #808080;
}

p {
	text-indent: 2em;
}

article ul {
	list-style: none;
}

.picture {
	border: 1px solid #aaa;
	width: 150px;
	height: 160px;
	margin: 20px;
	display: inline-block;
}

.picture div {
	text-align: center;
	padding: 10px;
	font-size: 0.9em
}

.picture img {
	width: 100px;
	height: 100px;
	border: 1px solid #aaa;
	margin: 0 22px;

}

table {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
	border: #aaa;
}

table th {
	background-color: #333;
	color: #fff;
	padding: 0 5px;
}

table td {
	padding: 0 5px;
}

table tr.last {
	background-color: #ccc;
}

.main {
	overflow: auto;
}

.login {
	float: right;
	width: 350px;
	border: 2px outset;
	background-color: #fff;
	margin-top: 20px;
	margin-right: 20px;
	padding: 20px;
	font-size: 0.8em;
	line-height: 2.5;
}

.login h2 {
	font-size: 1.2em;
	border-left: 3px solid #aaa;
	padding-left: 10px;
}

.login label {
	float: left;
	width: 8em;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 1px; 
}

form div {
	overflow: auto;
}

.tips {
	color: #808080;
	margin-top: -8px;
}

#email, #pswd, #repswd {
	width: 11em;
}


textarea {
	width: 200px;
	height: 100px;
	margin-top: 8px;
	font-size: 1.2em;
}

button {
	width: 100%;
	height: 40px;
	background-color: #3355D0;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 10px;
	border: 2px;
}

footer {
	background-color: #000;
	color: #fff;
	height: 70px;
	text-align: center;
	line-height: 55px;
}

footer span {
	font-family: Arial;
}
